{% extends 'base.html' %}
{% block content %}
{% load config_default_set %}
<div class="container">
<div class="row">

  <div class="col-6 border m-2 p-2">
    <p>ユーザー情報</p>
    <div>ID: {{user.username}}</div>
    <div>アカウント作成日: {{user.created_at|date:"Y/n/j"}}</div>
    <div>ルームコメント投稿総数: {{user.post.count}}</div>
  </div>

  <div class="col-12"></div>
    <form method="post" action="{% url 'cf' %}">
      {% csrf_token %}
      <div class="col-6 border m-2 p-2">
        <div class="py-2 m-2" name="notice-config">{{form.notice_only_connected.label_tag}} {%if not user.config.notice_only_connected%}全員から受け取る{%else%}フレンドのみ許可する{%endif%}
          {%for f in form.notice_only_connected%}
          {%if f.data.value == user.config.notice_only_connected %}
          <div class="">{{f|config_default_set}}</div>
          {%else%}<div class="">{{f}} </div>
          {%endif%}
          {%endfor%}
        </div>

      </div>
      <div class="col-6 border m-2 p-2">
        <div class="py-2 m-2" name="postlog-config">{{form.room_post_log.label_tag}} {{user.config.get_room_post_log_display}}
          {%for f in form.room_post_log%}
          {%if f.data.value == user.config.room_post_log %}
          <div class="">{{f|config_default_set}}</div>
          {%else%}<div class="">{{f}} </div>
          {%endif%}
          {%endfor%}
        </div>
        <div class="py-2 m-2" name="connect-config">{{form.friend.label_tag}} {{user.config.get_friend_display}}
          {%for f in form.friend%}
          {%if f.data.value == user.config.friend %}
          <div class="">{{f|config_default_set}}</div>
          {%else%}<div class="">{{f}} </div>
          {%endif%}
          {%endfor%}
        </div>
      </div>
      <button type="submit" class="btn btn-success my-2">更新する</button>
    </form>
  </div>
</div>
</div>
{% endblock %}