{% extends 'base.html' %}
{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col" class="w-50">タイトル</th>
              <th scope="col" class="w-25">作成者</th>
              <th scope="col" class="w-auto">作成日時</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><p>{{ room.title }}</p>
                {%if not room.image == 'False' %}
                  <img src={{imgurl}} alt={{room.image}} width="100" height="100" border="2">
                {%endif%}
              </th>
              <td>{{ room.user }}
                {% if room.user == user%}
                  <a href="#" class="btn btn-success">編集</a>
                  <a href="#" class="btn btn-danger">削除</a>
                {% endif%}

              </td>
              <td>{{ room.created_at|date:"Y/n/j H:i" }}</td>
            </tr>
          </tbody>
    </table>
    <a href={%url 'pc' room.id%} class="btn btn-primary">返信する</a>
    <table class="table table-hover">
      <thead>
          <tr>
            <th scope="col" class="w-50">返信</th>
            <th scope="col" class="w-25">返信者</th>
            <th scope="col">返信日時</th>
          </tr>
        </thead>
        <tbody>
        {% for post in room.post.all %}
          <tr>
            <td>{{ forloop.counter }}. {{ post.text }}</th>
            <td>{{ post.user }}
              {% if post.user == user%}
                <a href="#" class="btn btn-danger">削除</a>
              {%endif%}
            </td>
            <td>{{ post.created_at|date:"Y/n/j H:i:s" }}</td>
          </tr>
        {% endfor %}
        </tbody>
  </table>


{% endblock content %}