{% extends 'base.html' %}
{% block content %}
    <div class="container">

      <div class="row justify-content-md-center pt-4">
        <img src={{imgurl}} alt={{customuser.icon}} class="col-auto rounded-circle" width="100" height="100">
      </div>
      <div class="pt-4" name="name">
        <h4 class="text-center">{{ customuser.user_name }}</h4>
        <p class="text-center">@{{ customuser.username }}</p>

        <div class="row justify-content-md-center" name="ff">
          <div class="col-auto row justify-content-md-center" name="follow">
            <a href={%url 'fl1' customuser.id%} class="btn col-auto text-center text-decoration-none">フォロー</a>
            <div class="col-12"></div>
            <a href={%url 'fl1' customuser.id%} class="btn col-auto text-center text-decoration-none">{{ customuser.follow.count}}</a>
          </div>
          <div class="col-auto row justify-content-md-center" name="follower">
            <a href={%url 'fl2' customuser.id%} class="btn col-auto text-center text-decoration-none">フォロワー</a>
            <div class="col-12"></div>
            <a href={%url 'fl2' customuser.id%} class="btn col-auto text-center text-decoration-none">{{ customuser.follower.count}}</a>
          </div>
        </div>

        <div class="row p-4 justify-content-md-center">
          {%if not follow_flag%}
          <a href={%url 'cc' customuser.id%} class="btn btn-primary col-auto">フォロー</a>
          {%else%}
          <a href={%url 'cd' customuser.id%} class="btn btn-secondary col-auto">フォローを外す</a>
          {%endif%}
        </div>
        <div class="row p-2 justify-content-md-center">
          <a href="#" class="btn btn-danger col-auto">ブロック</a>
        </div>

      </div>
    </div>

    <div class="container  mt-4">
      <p class="mt-2">投稿履歴{% if customuser.post.count == 0 %}なし{%endif%}</p>
      {% for post in customuser.post.all %}
      <div class=" rounded container p-2 m-2 bg-light">
        <a href={%url 'rd' post.room.id%} class="text-dark text-decoration-none">
          <p>{{ post.text }}</p>
          {{ post.created_at|date:"Y/n/j H:i"}}
          {{ post.room }}
        </a>
      </div>
      {% endfor %}
    </div>



{% endblock content %}

{%block css%}
{%endblock css%}