{% extends 'base.html' %}
{% load icon_filter %}
{% block content %}
<div class="container">
  <div class="row justify-content-md-center">
  {%for user_ in users_list%}
  <div class="col-9 p-2 mt-2 row border-bottom" name="user">
    <div class="col-auto" name="icon">
      <img src={{user_.icon|icon_filter}} alt={{user_.icon}} class="rounded-circle col-auto" width="64" height="64">
    </div>
    <div class="col-auto" name="name+id-and-memo">
      <div class="" name="name+id"><a href={%url 'ud' user_.pk%} class="text-decoration-none text-dark">{{user_}} @{{user_.username}}</a></div>
      <div class="" name="memo">{{user_.memo|linebreaksbr}}</div>
    </div>
  </div>
  {%endfor%}
</div>
</div>
{% endblock content %}